@font-face {
    font-family: 'yukarimobileregular';
    src: url('fonts/yukarimobil-webfont.eot');
    src: url('fonts/yukarimobil-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/yukarimobil-webfont.woff') format('woff'),
         url('fonts/yukarimobil-webfont.ttf') format('truetype'),
         url('fonts/yukarimobil-webfont.svg#yukarimobileregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1, h2, h3 {
	font-family: 'yukarimobileregular', Arial;
}
.titre,  .info {
     text-align: center;
}
.imagerando {
	width: 30%;
}
.info {
	width: 30%;
}