.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

@font-face {
    font-family: 'yukarimobileregular';
    src: url('/fonts/yukarimobil-webfont.eot');
    src: url('/fonts/yukarimobil-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/yukarimobil-webfont.woff') format('woff'),
         url('/fonts/yukarimobil-webfont.ttf') format('truetype'),
         url('/fonts/yukarimobil-webfont.svg#yukarimobileregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3 {
	font-family: 'yukarimobileregular', Arial;
}

.titre,  .info {
     text-align: center;
}

.imagerando  {
	width: 40%;
}

.info {
	width: 40%;
	border: ;
	position: relative;
}

.imgettitre {
	display: inline-block;
}