.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

@font-face {
  font-family: 'manksans';
  src: url('/fonts/MankSans.eot');
  src: url('/fonts/MankSans.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MankSans.woff') format('woff'),
  url('/fonts/MankSans.ttf') format('truetype'),
  url('/fonts/MankSans.svg#manksans') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
	font-family: 'manksans', Arial;
}

.titre, .info {
 text-align: center;
}

.imagerando {
	width: 40%;
}

.info {
	width: 40%;
	border: ;
	position: relative;
}

.imgettitre {
	display: inline-block;
}