<!DOCTYPE html>
<html>
<head>
             <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
  <title>Le chemin du facteur</title>
</head>
<body>
<div>
      <h1>Le chemin du facteur</h1>
       <div class="deuxblocs">
            <div class="imagerando">
                  <img src="images/gerbier.jpeg" /img>
            </div>
           <div class="info">
                   <h3>Randonnée Saint-Martial => Le gerbier de Jonc</h3>
             </div>
       </div>
    <div>
    <div>
    <img src="../assets/images/pictoheure3.svg">4H</img>
    <img src="../assets/images/pictobalisage.svg">PR</img>
    <img src="../assets/images/pictoaltitude.svg">700m</img>
    <img src="../assets/images/pictodif2.svg">Moyen</img>
    <img src="../assets/images/pictokm.svg">14.1KM</img>
</div>
</div>
<div>
           <h2>+ Les Plus</h2>
 </div>
 <div class="deuxblocs">
  <div class="dormir">
           <h3 >Dormir</h3>
  </div>
  <div class="manger">
           <h3>Manger</h3>
  </div>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="style.css" />
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	<title>Le chemin du facteur</title>
</head>
<body>
  <div>
    <h1>Le chemin du facteur</h1>
    <img class="imagerando" src="images/gerbier.jpeg"></img>
    <div class="info">
      <h3>Randonnée Saint-Martial => Le gerbier de Jonc</h3>
    </div>
 </div>
<div>
  <h2>Les Plus</h2>
    <img src="../assets/images/pictooeil.svg"></img>
    <img src="../assets/images/pictofleur.svg"></img>
</div>
<div>
 	<div class="dormir">
    <h3 >Dormir</h3>
        <img src="../assets/images/pictocouchage.svg"></br>Domaine de la Chaze,  07170 Saint Germain</img>
 	</div>
 	<div class="manger">
    <h3>Manger</h3>
        <img src="../assets/images/pictobouffe.svg"></br>La Belle Epoque 07310 La Chapelle sur Chanéac</img>
 	</div>
 </div>
</body>
</html>