<!DOCTYPE html>
<html>
<head>
             <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
  <title>Le chemin du facteur</title>
</head>
<body>
<div>
      <h1>Le chemin du facteur</h1>
       <div class="deuxblocs">
            <div class="imagerando">
                  <img src="images/gerbier.jpeg" /img>
            </div>
           <div class="info">
                   <h3>Randonnée Saint-Martial => Le gerbier du Jonc</h3>
             </div>
       </div>
</div>
<div>
           <h2>+ Les Plus</h2>
 </div>
 <div class="deuxblocs">
  <div class="dormir">
           <h3 >Dormir</h3>
  </div>
  <div class="manger">
           <h3>Manger</h3>
  </div>
 </div>
</body>
</html>