<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
    <title>Au fil de la Rimande</title>
</head>
<body>
  <div>
      <h1>Au fil de la Rimande</h1>
     <img class="imagerando" src="../assets/images/village1.jpg"></img>
     <div class="info">
            <h2>Randonnée La Chapelle-sous-Chanéac</h2>
     </div>
 </div>
<div>
    <div>
    <img src="../assets/images/pictoheure3.svg">3H</img>
    <img src="../assets/images/pictobalisage.svg">PR</img>
    <img src="../assets/images/pictoaltitude.svg">622m</img>
    <img src="../assets/images/pictodif3.svg">Difficile</img>
    <img src="../assets/images/pictokm.svg">12.5KM</img>
</div>


    <div class="lesplus">
           <h3>Les Plus</h3>
        <img src="../assets/images/pictooeil.svg"></img>
        <img src="../assets/images/pictofleur.svg"></img>
        <h4>- Moulin</h4>
        <h4>- Rivière</h4>
        <h4>- Moulin</h4>
    </div>
    </br>


 	  <div class="dormir">
 	         <h3 >Dormir</h3>
            <img src="../assets/images/pictocouchage.svg">Domaine de la Chaze, La GrangetteArdèche</img>
</div>
    	<div class="manger">
 	         <h3>Manger</h3>
            <img src="../assets/images/pictobouffe.svg">La Belle Epoque 07310 La Chapelle sur Chanéac</img>
 	</div>
</div>
</body>
</html>