<!DOCTYPE html>
<html>
<head>
             <meta charset="utf-8" />
       <link rel="stylesheet" href="style.css" />
       <!--[if lt IE 9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
       <![endif]-->
    <title>Au fil de la Rimande</title>
</head>
<body>
  <div>
      <h1>Au fil de la Rimande</h1>
     <img class="imagerando" src="../assets/images/village1.jpg"></img>
     <div class="info">
            <h3>Randonnée La Chapelle-sous-Chanéac</h3>
     </div>
 </div>
<div>
    <div class="lesplus">
           <h2>Les Plus</h2>
        <img src="../assets/images/pictooeil.svg"></img>
        <img src="../assets/images/pictofleur.svg"></img>
    </div>
<div>
    <img src="../assets/images/pictoheure3.svg"></img>
    <img src="../assets/images/pictobalisage.svg"></img>
    <img src="../assets/images/pictoaltitude.svg"></img>
    <img src="../assets/images/pictodif1.svg"></img>
 	  <div class="dormir">
 	         <h3 >Dormir</h3>
            <img src="../assets/images/pictocouchage.svg"></img>
</div>
    	<div class="manger">
 	         <h3>Manger</h3>
            <img src="../assets/images/pictobouffe.svg"></img>
 	</div>
</div>
</body>
</html>